<launch>
  <include file="$(find uvc_camera)/launch/camera_node.launch" ns="camera0" >
    <arg name="device" default="/dev/video0" />
  </include>
  <include file="$(find uvc_camera)/launch/camera_node.launch" ns="camera1" >
    <arg name="device" default="/dev/video1" />
  </include>
  <include file="$(find uvc_camera)/launch/camera_node.launch" ns="camera2" >
    <arg name="device" default="/dev/video2" />
  </include>
  <include file="$(find uvc_camera)/launch/camera_node.launch" ns="camera3" >
    <arg name="device" default="/dev/video3" />    
  </include>
</launch>
