# labeled CAM0
KERNEL=="event?", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="0821", ATTRS{serial}=="74898A00", SYMLINK+="camera0", MODE="666"   
# labeled CAM1
KERNEL=="event?", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="0821", ATTRS{serial}=="0F449A00", SYMLINK+="camera1", MODE="666"   
# labeled CAM2
KERNEL=="event?", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="0821", ATTRS{serial}=="32059A00", SYMLINK+="camera2", MODE="666"   
# labeled CAM3
KERNEL=="event?", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="0821", ATTRS{serial}=="DAE549D0", SYMLINK+="camera3", MODE="666"

#cam0 = 74898A00
#cam1 = 0F449A00
#cam2 = 32059A00
#cam3 = DAE549D0
